<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/operacion/cuentas}" method="post">
                <div class="form-group">
                    <label for="transferFrom">1. ¿Desde qué cuenta desea transferir? </label>
                    <select class="form-control" th:value="${desde}" name="desde" id="transferFrom"
                            required="required">
                        <option disabled="disabled" selected="selected"> -- seleccione cuenta --</option>
                        <option value="Primary">Tarjeta</option>
                        <option value="Savings">Ahorros</option>
                    </select>
                    <br/>
                </div>

                <div class="form-group">
                    <label for="transferTo">2. ¿A qué cuanta desea transferir? </label>
                    <select class="form-control" th:value="${hasta}" name="hasta" id="transferTo"
                            required="required">
                        <option disabled="disabled" selected="selected"> -- seleccione cuenta --</option>
                        <option value="Primary">Tarjeta</option>
                        <option value="Savings">Ahorros</option>
                    </select>
                    <br/>
                </div>

                <div class="form-group">
                    <label>3. Cantidad que desea transferir:  </label>

                    <input th:value="${cantidad}" type="text" name="cantidad" id="amount" class="form-control"
                           aria-label="Cantidad en euros"/>
                    <span class="input-group-addon"> €</span>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Transferir</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
